/* app css stylesheet */
body {
  padding: 70px 0;
  background: #99CCFF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#99CCFF, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#99CCFF, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#99CCFF, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#99CCFF, #000000); /* Standard syntax (must be last) */ 
}

.panel-title > a::before {
  content: "▼"
}
.panel-title > a.collapsed::before {
  content: "►"
}

.panel-title > a:hover {
  text-decoration: none;
}

.panel-title > a.collapsed {
  text-decoration: none;
}

.navbar {
  padding: 4px;
}

.navbar-brand {
  padding: 4px;
  margin-top: 0px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand>li>a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand>img {
  height: 50px;
  width:48px;
  margin-right: 14px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.jumbotron {
  background-image: url('images/killing-season-background.jpg');
  color: white;
}

.jumbotron h1  {
  text-shadow: 4px 4px 6px #000000;
}

.jumbotron p  {
  text-shadow: 3px 3px 4px #000000;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.row-eq-height .col-md-4 .panel {
  height: 100%;
}

.carousel {
  background-color: black;
}

.carousel-inner .item {
  margin-left: 200px;
}
