<div class="jumbotron">
	<h1>A&E documentary used M.A.P. serial killer algorithm</h1>
	<p>The Murder Accountability Project has cooperated with the producers of the Arts and Entertainment Network’s upcoming documentary series called “The Killing Season.” Investigators for A&E wanted to search for previously undetected serial killings among          America's more than 220,000 unsolved homicides.</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Illinois murder cases recovered after lawsuit">
    <ng-template ngbPanelContent>
      <p>The Murder Accountability Project has reached a settlement in its lawsuit against the Illinois State Police and is publishing online the case-level details of 432 homicides committed in Illinois from 1996 through 2015 that were not reported to the Justice    Department.</p>
      <p>These recovered records, available at the "Search Cases" tab, represent only 20 percent of the estimated 2,100 homicides Illinois did not report to the FBI’s voluntary Supplementary Homicide Reporting program.<p>
      <p>Illinois ceased reporting SHR data to the federal government in 1994, but continued to gather supplemental data on homicides involving domestic violence, crimes against children and hate crimes. Illinois officials agreed to release those records as part of a settlement of M.A.P.’s Freedom of Information Act lawsuit filed last year.</p> 
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2" title="Murder clearance rate declined in 2015">
    <ng-template ngbPanelContent>
      <p>The FBI’s Criminal Justice Information Services Division estimates there were 15,696 homicides committed in the United States in 2015, a 10.8 percent increase over the previous year. The bureau also estimates that 61.5 percent of those crimes were cleared through arrest.</p>
      <p>The rate at which homicides are cleared has dropped by 3 percentage points over the previous year and is the third lowest on record, only slightly better than 2006 with a 60.7 percent clearance rate and 2007 with a 61.2 percent clearance rate.<p>
      <p>Based upon these estimates, the offenders responsible for at least 6,043 deaths last year were not arrested, formally charged or handed over to the courts for prosecution. That's up considerably from the 5,028 unsolved homicides in 2014. The Murder Accountability Project estimates there are at least 222,413 unsolved homicides committed from 1980 through the end of 2015.</p> 
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" title="Reporting murder should be mandatory, M.A.P. urges">
    <ng-template ngbPanelContent>
      <p>The Murder Accountability Project’s Board of Directors has voted unanimously to urge law enforcement agencies in the United States to fully report homicide information to the Justice Department’s Uniform Crime Report and Supplementary Homicide Report. Police participation in the Uniform Crimes Report has been voluntary since its enactment by Congress in 1930.</p>
      <p>The Board further urged all 50 State Legislatures to make such reporting mandatory. The nonprofit group’s directors also asked Congress and the President to enact federal legislation requiring reporting of the case-level details to the FBI of all unsolved homicides not cleared through arrest after one year.<p>
      <p>“Reporting murder should no longer be optional or voluntary,” said Thomas K. Hargrove, chairman of the nonprofit group. “The American people have the right to know the basic details of the nation’s murders and whether those killings have been solved.”</p> 
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<div class="row row-eq-height">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Illinois murder cases recovered after lawsuit</h3>
      </div>
      <div class="panel-body">
        <img src="assets/illinois-star-wide.png" style="display: block; margin: 0 auto">
        <p>The Murder Accountability Project has reached a settlement in its lawsuit against the Illinois State Police and is publishing online the case-level details of 432 homicides committed in Illinois from 1996 through 2015 that were not reported to the Justice Department.</p>
        <p>These recovered records, available at the "Search Cases" tab, represent only 20 percent of the estimated 2,100 homicides Illinois did not report to the FBI’s voluntary Supplementary Homicide Reporting program.<p>
        <p>Illinois ceased reporting SHR data to the federal government in 1994, but continued to gather supplemental data on homicides involving domestic violence, crimes against children and hate crimes. Illinois officials agreed to release those records as part of a settlement of M.A.P.’s Freedom of Information Act lawsuit filed last year.</p> 
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Murder clearance rate declined in 2015</h3>
      </div>
      <div class="panel-body">
        <img src="assets/fbi-shield-wide.png" style="display: block; margin: 0 auto">
        <p>The FBI’s Criminal Justice Information Services Division estimates there were 15,696 homicides committed in the United States in 2015, a 10.8 percent increase over the previous year. The bureau also estimates that 61.5 percent of those crimes were cleared through arrest.</p>
        <p>The rate at which homicides are cleared has dropped by 3 percentage points over the previous year and is the third lowest on record, only slightly better than 2006 with a 60.7 percent clearance rate and 2007 with a 61.2 percent clearance rate.<p>
        <p>Based upon these estimates, the offenders responsible for at least 6,043 deaths last year were not arrested, formally charged or handed over to the courts for prosecution. That's up considerably from the 5,028 unsolved homicides in 2014. The Murder Accountability Project estimates there are at least 222,413 unsolved homicides committed from 1980 through the end of 2015.</p> 
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Reporting mandatory, M.A.P. urges</h3>
      </div>
      <div class="panel-body">
        <p>The Murder Accountability Project’s Board of Directors has voted unanimously to urge law enforcement agencies in the United States to fully report homicide information to the Justice Department’s Uniform Crime Report and Supplementary Homicide Report. Police participation in the Uniform Crimes Report has been voluntary since its enactment by Congress in 1930.</p>
        <p>The Board further urged all 50 State Legislatures to make such reporting mandatory. The nonprofit group’s directors also asked Congress and the President to enact federal legislation requiring reporting of the case-level details to the FBI of all unsolved homicides not cleared through arrest after one year.<p>
        <p>“Reporting murder should no longer be optional or voluntary,” said Thomas K. Hargrove, chairman of the nonprofit group. “The American people have the right to know the basic details of the nation’s murders and whether those killings have been solved.”</p> 
      </div>
    </div>
  </div>
</div>
